@import "tailwindcss";

body {
  margin: 0;
  font-family: sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

@keyframes cloudFloat {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-cloud {
  animation: cloudFloat 4s ease-in-out infinite;
}